### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IntelliJ IDEA 설정 파일
.idea/
/out/

# IntelliJ 모듈 파일 (선택)
*.iml
*.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Thumbs.db